.listerContainer{
    width: 100%;
    height: 90%;
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    background-color: rgb(233, 229, 233);
}

.container {
    width: 100%;
    height: 100%;
    max-width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: rgb(233, 229, 233);
}

.container::-webkit-scrollbar {
    display: none;
}

.containerError {
    width: 100%;
    height: 90%;
    max-width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    background-color: rgb(233, 229, 233);
}

.workplace {
    width: 100%;
    height: 90%;
    align-content: center;
}