.container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-width: 250px;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 10px;
}

.containerSmall {
    display: flex;
    justify-content: center;
    cursor: pointer;
    min-width: 250px;
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 10px;
    transition: all 0.3s ease-out;
}