.container{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(85, 85, 85);
}

.container:hover {
    
    cursor: pointer;
    background-color: rgb(39, 39, 39);
}