.Modal {
  position: absolute;
  display: flex;
  z-index: 100;
  max-width: 508px;
  min-width: 30%;
  padding-top: 16px;
  left: 0%;
  top: 0%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.content {
  position: relative;
  z-index: 700;
  background-color: rgb(240, 235, 240);
  width: 82%;
  max-width: 400px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  overflow-y: scroll;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.content::-webkit-scrollbar {
  display: none;
}

.aux_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}