.listButton {
    
    transition: color 0.3s;
}

.listButton:active {
    background-color: 'white';
}

.searcher {
    height: 10%;
    width: 100%;
    justify-content: center;
    flex-basis: 50%;
    flex-direction: row;
    align-items: center;
    display: flex;
    background-color: rgb(243, 239, 243);
}

.container {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(243, 239, 243);
}

.side_filter {
    max-width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    background-color: rgb(243, 239, 243);
}

.side_filterClosed {
    width: 0;
}

.mainBlock {
    height: 100%;
    width: 90%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgb(25, 29, 124);
}

.signature {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #69C8ECFF;
}