.searcher {
    height: 10%;
    width: 100%;
    justify-content: center;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: turquoise;
}

.container {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: thistle;
}

.side_filter {
    width: 30%;
    max-width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellowgreen;
}

.mainBlock {
    width: 70%;
    height: 100%;
    flex-direction: column-reverse;
    justify-items: flex-end;
    align-items: flex-end;
    background-color: rgb(205, 50, 159);
}

.signature {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: teal;
}