.container {
    display: flex;
    flex-flow: row;
    font-family: Avenir;
    cursor: pointer;
    min-width: 250px;
    max-width: 650px;
    justify-content: space-around;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 20px;
}

.cancel {
    padding-top: 24px;
}